// endscreen

.buttons {
        width: 80%;
        display: flex;
        align-self: center;
        justify-content: space-around;
    }

div.endScreen {
    margin: 0 auto;
    width: 80vh;
    height:75vh;
    position: absolute;
    background: $accentColor2;
    color: white;   
    padding: 2rem;
    top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include roundCorners(3rem);
}

.endScreenMsg {
    h2 {
        margin: 0.8rem auto;
        .points {
            font-size: 3rem;
        }
    }    
}

div.looseScreen {
    @extend div.endScreen;
    background: tomato;
}