// score
ul.scoreBoard {
        width: 80%;
        margin: 0 auto;
        li {
            display: flex;
            justify-content: space-between;
            p {
                font-family: $primaryFont;
            }
            p.item {
                text-align: left;
            }
            p.number {
                text-align: right;
            }
            div {
                width: 5vh;
                height: 5vh;
            }
            div.t::before, div.y::before {
                width: 5vh;
                height: 5vh;
                position: absolute;
                top: 0;
                left:0;
            }
        }
    }

// endscreen

.buttons {
        width: 80%;
        display: flex;
        align-self: center;
        justify-content: space-around;
    }

div.endScreen {
    margin: 0 auto;
    width: 80vh;
    height:75vh;
    position: absolute;
    background: $accentColor2;
    color: white;   
    padding: 2rem;
    top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include roundCorners(3rem);
}

.endScreenMsg {
    h2 {
        margin: 0.8rem auto;
        .points {
            font-size: 3rem;
        }
    }    
}

// loose screen

div.looseScreen {
    @extend div.endScreen;
    background: tomato;
}

// highScores screen

div.highscoresScreen {
    @extend div.endScreen;
    background: $accentColor1;
    button {
        background: $accentColor2;
    }
}

ul.topScores {
    margin: 3rem auto;
}

div.submitScore {
    padding: 1rem;
    @include roundCorners(2rem);
    width: 90%;
    height: 15vh;
    display:flex;
    align-items: center;
    form {
        display: flex;
        justify-content: space-around;
        input[type="text"] {
            width: 50%;
            font: $bodyFont;
            padding: 0.8rem;
        }
        input[type="number"] {
            width: 20%;
            font: $primaryFont;
            background: none;
            border: none;
            color: white;
            font-size: 1.4rem;
            margin-left: 2rem;
            padding-left: 1.2rem;
        }
        button.submit {
            width: 20%;
        }
    }
}

ul.topScores {
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font: $bodyFont;
        margin: 0 auto;
        width: 60%;
        p {
            margin: 0;
            padding: 0;
        }
        p.playerName {
            width: 50%;
            text-align: left;
        }
        p.score {
            width: 40%;
            text-align: right;
        }
    }
}