// Stylized Fonts

h1,h2,h3 {
    font-family: $primaryFont;
}

body {
    @include flex-center;
    height: 100vh;
}

body, p {
    font-family: $bodyFont;
}

li {
    font-size: 0.8rem;
    display: none;
}

button {
    display: none;
}