.mouse {
  width: 5vh;
  position: absolute;
  overflow: visible;
  top: 25vh;
  left: 5vh;
  transition: transform 0.3s linear;
  z-index: 1;
  &::after {
    content: '';
    background: url('../assets/mouse.gif') 0 0/cover;
    width: 8vh;
    height: 8vh;
    position: absolute;
  }
}