.startScreen {
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 80vh;
}

.introduction {
    position: relative;
    z-index:-10;
}

.startButtons {
    @include flex-center;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

button.close {
    @include flex-center;
    @include circle(3.5rem);
    position: absolute;
    top: 8%;
    left: 72%;
    z-index: 15;
    background: tomato;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 0;
}

.instructions {
    @include roundCorners(2rem);
    background: #93278f;
    color: white;
    width: 50%;
    padding: 2.5rem;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 10;

    ul {
        margin-top: 2rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        li {
            margin: 1.5rem auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            p.rule {
                width: 60%;
                text-align: left;
            }
            div.assets {
                width: 40%;
                flex-direction: row;
                align-items: center;
                margin-bottom: 1rem;
                margin-left: 1rem;
            }
        }
    }
    
}

.assets {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    div {
        width: 5vh;
        height: 5vh;
        @include flex-center;
        position: relative;
        top: 10px;
    }
}