// wall
.w {
  background-color: lighten(black, 20%);
}

// floor, crumbs, cheese, trap
.f,
.x,
.y,
.t {
  position: relative;
}

// trap, crumb, cheese
.t,
.x,
.y {
  &::before,
  &::after {
    content: '';
  }
}

// crumb, floor
.x::before,
.x::after,
.f::before {
  position: absolute;
}

// crumb
.x::before {
  border-radius: 50%;
  background: #f4a519;
  width: 1vh;
  height: 1vh;
  top: calc(50% - 0.5vh);
  left: calc(50% - 0.5vh);
  animation: 3s infinite crumb-float cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// crumb's shadow
.x::after {
  z-index: 1;
  border-radius: 50%;
  background: rgba(black, 0.33);
  width: 1vh;
  height: 0.35vh;
  top: calc(50% + 1vh);
  left: calc(50% - 0.5vh);
  animation: 3s infinite crumb-shadow cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// cheese
.y::before {
  content: '';
  background: url('../assets/cheese.png') 0 0/cover;
  width: 100%;
  height: 100%;
  transform: rotate(-13deg);
  animation: 2.5s infinite tile-rotate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// trap
.t::before {
  content: '';
  background: url('../assets/poison.png') 0 0/cover;
  width: 100%;
  height: 100%;
  transform: rotate(-13deg);
  animation: 2s infinite tile-rotate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// switch
.s {
  background: green;
}


// bridge
.d {
  background: url('../assets/bridge.png') 0 0/cover;
  transform: rotate(90deg);
}

// bridge flipped
.b {
  background: url('../assets/bridge.png') 0 0/cover;
}


// starting flag
.z {
  background: url('../assets/start-flag.png') 0 0/cover;
}

// ending flag
.e {
  background: url('../assets/end-flag.png') 0 0/cover;
}